:root
{
	--body-BG: hsl(100, 50%, 50%);

	--widthLeft: 20vw;
	--widthRight: 10vw;
	--section-padding: 0.5rem;
	--section-padding2: 0.4rem 0.2rem;
	--section-border-radius: 1rem;
	--border-radius: 2rem;
	--card-padding: 1rem;
	--card-border-radius: 1rem;

	--nav-main-divider: 4.0rem;
	--narrator-font-family: Verdana;
	--philosopher-font-family: sans-serif;
	--youth-font-family: Tahoma;
}

*, *::before, *::after
{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	border: none;
}

html
{

}

head
{

}

body
{
	/* background: var(--body-BG); */
	/* background: linear-gradient(to bottom, hsl(10, 74%, 68%), hsl(28, 100%, 87%), hsl(172, 100%, 77%)); */
	overflow-x: hidden;
}

a
{
	color: #000;
	text-decoration: none;
}

a:hover
{
	color: #000;
	text-decoration: none;
}

p
{
	text-align: justify;
}

nav
{
	width: 100%;
	height: calc(var(--nav-main-divider) - 0.1rem);
	background: linear-gradient(to bottom, hsl(10, 74%, 68%), hsl(28, 100%, 87%), hsl(172, 100%, 77%));
	padding: 0.3rem 0;
	position: fixed; /*Will stick the header on top always*/
	top: 0;
	z-index: 10;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	align-content: center;
	justify-content: center;
	align-items: center;
	margin: auto;
}

nav .container
{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav .container .titles
{
	margin: auto;
}

nav .container .titles .mainTitle
{
	font-size: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: aquamarine; */
	/* width: 50%; */
}

nav .container .titles .subTitle
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* background-color: cadetblue; */
	font-size: 14px;
	font-style: italic;
}

main
{
	position: fixed;
	top: var(--nav-main-divider);
	width: 100%;
}

div
{
	/* border: 0.1rem;
	border-style: dashed;
	border-color: black; */
}

.main_body
{
	background: linear-gradient(to bottom, hsl(172, 100%, 77%), hsl(28, 100%, 87%), hsl(10, 74%, 68%));
}

.container
{
	width: 95%;
	margin: 0 auto; /*Centers the entire body content*/
}

main .container 
{
	display: grid;
	grid-template-columns: var(--widthLeft) auto var(--widthRight);
	column-gap: 0.8rem;
	position: relative;
	padding: 0.4rem;;
}

main .container .left
{
	border-color:white;
	border-width: 0.2rem;
	border-style:double;
	border-radius: var(--section-border-radius);
	/* background-color: #3dfafa6c; */
	padding: var(--section-padding2);
	position: sticky;
	max-height: calc(100vh - 8rem);
	overflow-y: auto;
	/* display: none; */
}

main .container .middle
{
	border-color:white;
	border-width: 0.2rem;
	border-style:double;
	/* background-color: red; */
	border-radius: var(--section-border-radius);
	padding: var(--section-padding2);
	max-height: calc(100vh - 8rem);
	overflow-y: auto;
}

main .container .right
{
	border-color:white;
	border-width: 0.2rem;
	border-style:double;
	/* background-color: blue; */
	border-radius: var(--section-border-radius);
	padding: var(--section-padding2);
	max-height: calc(100vh - 8rem);
	overflow-y: auto;
	text-align: right;
}

main .container .right div
{
	margin: 0.3rem;
}

main .container .middle .firstPage
{
	align-items: center;
}

main .container .middle .firstPage .mainTitle h1, h2
{
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	color:rgb(58, 5, 248);
}

main .container .middle h3
{
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgb(32, 113, 235);
}

main .container .middle .firstPage .subTitle h4
{
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgb(32, 32, 235);
}

main .container .middle .firstPage .image img
{
	width: 100%;
	overflow: hidden;
	justify-content: center;
}

main .container .middle .firstPage .authors p
{
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: green;
	font-size: 18px;
	font-weight: bold;
}

main .container .left li
{
	/* padding-left: 2rem; */
	list-style: disc;
	list-style-position: inside;
}

main .container .left .chapter .unit ul > li
{
	padding-left: 2rem;
	list-style: circle;
	list-style-position: inside;
	/* display: none; */
}

main .container .middle 
{
	padding: 0.1rem 0.3rem;
}

main .container .middle div
{
	border-radius: var(--card-border-radius);
	padding: 0.8rem;
	margin: 0.3rem 0;
}

main .container .middle .narrator
{
	background-color: rgba(223, 207, 177, 0.986);
	font-family: var(--narrator-font-family);
}

main .container .middle .philosopher
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(252, 130, 43, 0.637);
	font-family: var(--philosopher-font-family);
}

main .container .middle .youth
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(120, 252, 54, 0.637);
	font-family: var(--youth-font-family);	
}

main .container .middle .philosopher img
{
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	/* background-color: blue; */
	/* overflow: hidden; */
	margin: 0.3rem;
}

main .container .middle .youth img
{
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	/* background-color: blue; */
	/* overflow: hidden; */
	margin: 0.3rem;
}

.contentDivide
{
	height: 5px;
	background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red, violet, indigo, blue, green, yellow, orange, red, violet, indigo, blue, green, yellow, orange, red);
	/* border: 2px solid black; */
}

.view-content
{
	cursor: pointer;
}

#id-view-content
{

}